/*============= Header =============*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
  font-size: 16px;
  z-index: 5;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 31px;
}

.nav-links li a {
  position: relative;
  font-weight: 400;
  color: var(--gray);
  text-decoration: none;
  transition: var(--transform-04);
}

.nav-links li a span {
  color: var(--primary);
}

.nav-links li a.active,
.nav-links li a:hover {
  font-weight: 500;
  color: var(--white);
}

.language-switch {
  margin-left: 30px;
  position: relative;
  display: inline-block;
}

.language-btn {
  position: relative;
  padding-right: 14px;
  cursor: pointer;
}

.language-btn::before,
.language-btn::after {
  content: "";
  position: absolute;
  right: 0;
  width: 8px;
  height: 2px;
  background: var(--gray);
  -webkit-transform: rotate(50deg);
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.language-btn::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.language-btn::after {
  transform: rotate(-45deg) translate(-5px, 8px);
}

.language-btn.active::before {
  transform: rotate(-45deg) translate(-10px, 6px);
}

.language-btn.active::after {
  transform: rotate(45deg) translate(10px, 6px);
}

.language-switch button {
  color: var(--gray);
  border: none;
  cursor: pointer;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
}

.social-links {
  position: fixed;
  display: flex;
  top: 240px;
  left: -22px;
  gap: 8px;
  transform: rotate(-90deg);
  flex-direction: row-reverse;
  z-index: 1;
}

.social-links::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 200px;
  background-color: var(--gray);
  transform: rotate(90deg) translate(-85px, -110px);
}

.social-links a {
  width: 32px;
  height: 32px;
  color: var(--gray);
  text-decoration: none;
  transform: rotate(90deg);
  transition: var(--transform-04);
}

.social-links a span {
  font-size: 32px;
}

.social-links a:hover {
  color: var(--white);
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 9px 0px 10px 5px;
  cursor: pointer;
  margin-top: -10px;
  overflow: hidden;
}

.burger span {
  height: 2px;
  background-color: var(--white);
  transition: all 0.3s;
}

.burger span:nth-child(1) {
  width: 30px;
  margin-left: 8px;
}

.burger span:nth-child(2) {
  width: 16px;
  margin-left: 8px;
}

.burger.active span:nth-child(1) {
  width: 24px;
  transform: rotate(45deg) translate(3px, 8px);
}

.burger.active span:nth-child(2) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.language-dropdown {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: transparent;
  z-index: 1;
  border: 1px solid var(--gray);
}

.language-dropdown button {
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 6px 8px;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: var(--transform-04);
}

.language-dropdown button:hover {
  color: var(--white);
  background-color: transparent;
}

.language-switch.active .language-dropdown {
  display: block;
}

/*============= Buttons =============*/

.btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
  background: transparent;
  transition: var(--transform-04);
  cursor: pointer;
  white-space: nowrap;
}

.btn.text-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--white);
}

.btn.text-btn:hover {
  color: var(--gray);
}

.btn.primary {
  color: var(--white);
  border: 1px solid var(--primary);
}

.btn.primary:hover {
  background: rgba(199, 120, 221, 0.2);
}

.btn.secondary {
  color: var(--gray);
  border: 1px solid var(--gray);
}

.btn.secondary:hover {
  background: rgba(171, 178, 191, 0.2);
}

/*============= Quote =============*/
section {
  padding: 65px 0;
}

.quote-group {
  position: relative;
  max-width: 714px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quote-group p {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

.comment,
.who {
  position: relative;
  color: var(--white);
  border: 1px solid var(--gray);
  width: 100%;
}

.who p {
  font-weight: 400;
}

.icon-quote-1,
.icon-quote-2 {
  position: absolute;
  font-size: 26px;
  width: 42px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-content);
}

.icon-quote-1 {
  top: -15px;
  left: 8px;
}

.icon-quote-2 {
  top: -14px;
  right: 13px;
}

.comment {
  padding: 32px;
}

.who {
  padding: 16px;
  white-space: nowrap;
  max-width: 162px;
  top: -1px;
}

/*============= Section =============*/
.section-title {
  position: relative;
  margin-bottom: 48px;
}

.section-title h2 {
  position: relative;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: var(--white);
}

.autoShow {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.line {
  position: absolute;
  content: "";
  left: 190px;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: var(--primary);
}

.line-1 {
  max-width: 511px;
}

.line-2 {
  max-width: 239px;
  left: 153px;
}

.line-3 {
  max-width: 326px;
}

.line-4 {
  max-width: 127px;
}

.section-title h2 span {
  font-weight: 500;
  font-size: 32px;
  color: var(--primary);
}

/*============= Project Card =============*/
.projects--group {
  display: flex;
  justify-content: space-between;
  gap: 11px;
}

.project--card {
  width: 33.33%;
  height: 100%;
  color: var(--gray);
  border: 1px solid var(--gray);
  overflow: hidden;
}

.project--card img {
  width: 100%;
}

.use-t {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  list-style-type: none;
  padding: 8px;
}

.card--content {
  padding: 16px;
  border-top: 1px solid var(--gray);
}

.card--content h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 16px;
  color: var(--white);
}

.card--content p {
  margin-bottom: 16px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.content-row {
  display: flex;
  justify-content: space-between;
}

/*============= Skills =============*/
.cont-images {
  transform: translate(33px, -36px);
}

.cont-images img {
  width: 100%;
}

.cont-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 16px;
  list-style-type: none;
}

.second-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  color: var(--gray);
}

.cont-list > li {
  width: 100%;
  height: 100%;
  max-width: 200px;
  border: 1px solid var(--gray);
}

.cont-list > li:nth-child(1),
.cont-list > li:nth-child(2),
.cont-list > li:nth-child(4) {
  max-width: 180px;
}

.cont-list > li:nth-child(4) {
  transform: translateY(-32px);
}

.cont-list p {
  border-bottom: 1px solid var(--gray);
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

/*============= About Me =============*/
.content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray);
  margin-top: -25px;
  max-width: 515px;
}

.content-text p {
  margin-bottom: 25px;
}

.content-img {
  margin-top: -90px;
}

.content-img img {
  width: 100%;
}

/*============= Contacts =============*/
.contacts .content-text {
  margin-top: 0;
}

.contact-message {
  border: 1px solid var(--gray);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 11px;
}

.contact-message p {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.contact-message a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 5px;
  font-size: 16px;
  line-height: 21px;
  color: var(--gray);
  transition: var(--transform-04);
}

.contact-message a:hover {
  color: var(--white);
}

.contact-message a span {
  font-size: 32px;
}

/*============= Responsive Styles =============*/

/* Responsive Styles */
@media (max-width: 1200px) {
  .social-links {
    top: 100px;
    left: 30px;
    transform: rotate(0);
    position: absolute;
  }

  .social-links a {
    transform: rotate(0);
  }

  .cont-list > li:nth-child(4) {
    transform: translateY(0);
  }

  .content-row {
    gap: 16px;
  }

  .cont-images {
    transform: translate(0, 0);
    width: 30%;
  }

  .cont-info {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .header-content {
    padding: 20px 0;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
  }

  .nav.active {
    transform: translateY(0);
    padding: 0 16px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    transform: translateY(-72px);
    gap: 32px;
  }

  .nav-links li a,
  .nav-links li a span {
    font-size: 32px;
  }

  .social-links {
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    bottom: 36px;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
  }

  .burger {
    z-index: 2;
    display: flex;
  }

  .language-switch {
    margin-left: 0;
    width: 100%;
    transform: translateY(-40px);
  }

  .language-btn::before,
  .language-btn::after {
    top: 10px;
  }

  .language-switch button {
    font-size: 32px;
  }

  .language-dropdown {
    top: 45px;
  }

  .burger.active span:nth-child(2) {
    width: 24px;
    transform: rotate(-45deg) translate(-2px, -4px);
  }

  .social-links a {
    width: 64px;
    height: 64px;
    transform: rotate(0);
  }

  .social-links a span {
    font-size: 64px;
  }

  .social-links::before {
    display: none;
  }

  .line {
    max-width: 120px;
  }

  .projects--group {
    flex-wrap: wrap;
  }

  .project--card {
    width: 48%;
  }

  .content-text,
  .content-img {
    margin-top: 0;
  }

  .content-row__media {
    flex-wrap: wrap;
  }

  .content-text {
    max-width: 100%;
  }

  .content-img {
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .section-title h2,
  .section-title h2 span {
    font-size: 22px;
  }

  .project--card {
    width: 100%;
  }

  .line {
    left: 0;
    top: 100%;
    transform: translateY(0);
  }

  .content-row {
    flex-direction: column;
  }

  .cont-images {
    width: 80%;
    margin: 0 auto;
  }

  .cont-info {
    width: 100%;
  }

  .cont-list {
    justify-content: flex-start;
  }

  .cont-list li,
  .cont-list > li:nth-child(1),
  .cont-list > li:nth-child(2),
  .cont-list > li:nth-child(4) {
    max-width: 100%;
  }

  section {
    padding: 30px 0;
  }
}
